.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.form input {
  min-width: 400px;
  border: black 1px solid;
  border-radius: 5px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(75, 0, 145);
}

.btn:hover {
  color: white;
  background-color: rgb(94, 25, 158);
}
